/* --------------------------------- */
/* == Variables                      */
/* --------------------------------- */

@import url('~Variables/variables.less');

/* --------------------------------- */
/* == Libraries                      */
/* --------------------------------- */

@import url('~normalize.css');

/* --------------------------------- */
/* == Styles additionnels            */
/* --------------------------------- */

@import url('~Fonts/fonts.css');

/* --------------------------------- */
/* == Flexbox classes (from Knacss)  */
/* --------------------------------- */

[class*='flex-container'] {
  display: flex;
}
.flex-container-h {
  flex-direction: row;
}
.flex-container-v {
  flex-direction: column;
}
.flex-item-fluid {
  flex: 1;
}
.flex-align-center-h {
  justify-content: center;
}
.flex-align-center-v {
  align-items: center;
}

/* --------------------------------- */
/* == Layout styles                  */
/* --------------------------------- */

html,
body {
  overflow: hidden;
}

body {
  font-family: @font-family;
  font-size: @font-size;
  color: @text-color;
  background-color: @white;
}

.navigation-router,
#root,
.routes,
.route,
.screen {
  height: 100%;
}

.screen.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/**
 * LAYOUT FULL SCREEN
 *
 * sticky header
 * scroll main
 * sticky footer
 */
.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header,
  main,
  footer {
    padding: @padding-containers;
  }

  main {
    flex: 1;
    overflow-y: auto;
  }
}
