/* --------------------------------- */
/* == Fonts                          */
/* --------------------------------- */

/* Inherit Ant Design config (/config/index.js) */
@primary-color: @primary-color;
@transparent: rgba(0, 0, 0, 0);
@white: #fff;
@black: #000;
